psycopg==3.3.2
psycopg-pool==3.3.0
beautifulsoup4==4.13.3
aioboto3==15.5.0
openai==2.15.0
urllib3==2.3.0
python-dotenv==1.0.1
lxml==5.3.1
lxml-stubs==0.5.1
python-Levenshtein==0.27.1
sentence-transformers==4.0.2
hf_xet
playwright==1.57.0
playwright-stealth==2.0.1
requests==2.32.5
redis==7.0.1
aio-pika==9.5.8
markdownify==1.2.2
capsolver==1.0.7
pymupdf==1.27.1
pymupdf4llm==0.3.4
python-docx==1.2.0
python-pptx==1.0.2
pandas==3.0.0